In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [3]:
response = requests.get("https://www.basketball-reference.com/leagues/NBA_2020_games-october.html")
html = response.content
soup = BeautifulSoup(html, "html.parser")

In [22]:
months = ["october", "november", "december", "january", "february", "march", "april"]
df_list = []
for month in months:
    url = f"https://www.basketball-reference.com/leagues/NBA_2020_games-{month}.html"
    response = requests.get(url)
    soup = BeautifulSoup(response.content, "html.parser")
    df_month = pd.read_html(str(soup.find_all("table")[0]))[0]
    df_month.columns = ["Date", "Start_Time", "Visitor", "Visitor_Pts", "Home", "Home_Pts", "Del1", "Del_OT", "Del2", "Del3"]
    df_month.loc[df_month["Del_OT"] == "OT", "df_OT"] = 1
    df_month.loc[df_month["Del_OT"].isna(), "df_OT"] = 0
    df_month = df_month.drop(["Del1", "Del2", "Del3", "Del_OT"], axis=1)
    df_list.append(df_month)

/Users/hareesrinivasan/opt/anaconda3/lib/python3.7/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

In [24]:
pd.concat(df_list, axis=0)

,Date,Start_Time,Visitor,Visitor_Pts,Home,Home_Pts,df_OT
0,"Tue, Oct 22, 2019",8:00p,New Orleans Pelicans,122.0,Toronto Raptors,130.0,1.0
1,"Tue, Oct 22, 2019",10:30p,Los Angeles Lakers,102.0,Los Angeles Clippers,112.0,0.0
2,"Wed, Oct 23, 2019",7:00p,Chicago Bulls,125.0,Charlotte Hornets,126.0,0.0
3,"Wed, Oct 23, 2019",7:00p,Detroit Pistons,119.0,Indiana Pacers,110.0,0.0
4,"Wed, Oct 23, 2019",7:00p,Cleveland Cavaliers,85.0,Orlando Magic,94.0,0.0
...,...,...,...,...,...,...,...
110,"Wed, Apr 15, 2020",7:30p,New Orleans Pelicans,NaN,San Antonio Spurs,NaN,0.0
111,"Wed, Apr 15, 2020",7:30p,Indiana Pacers,NaN,Washington Wizards,NaN,0.0
112,"Wed, Apr 15, 2020",10:00p,Los Angeles Lakers,NaN,Phoenix Suns,NaN,0.0
113,"Wed, Apr 15, 2020",10:00p,Los Angeles Clippers,NaN,Portland Trail Blazers,NaN,0.0
114,"Wed, Apr 15, 2020",10:00p,Golden State Warriors,NaN,Sacramento Kings,NaN,0.0